{% extends 'CoreCoreBundle::base.html.twig' %}

{% block head_script %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/osgame/js/charSelection.js') }}"></script>
{% endblock head_script %}

{% block body %}
        <h1>{{ user }}, here are your characters !</h1>

        <table class="records_list">
            <thead>

            </thead>
            <tbody>
            {% for char in chars %}
                <tr>
                    <td><a href="{{ path('chars_show', { 'id': char.id }) }}">{{ char.id }}</a></td>
                    <td>{{ char.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="javascript:void(0);" onclick="selectChar(this)" cId="{{ char.id }}" cName="{{ char.name }}">Select this character</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('chars_new') }}">
                    Create a new character !
                </a>
            </li>
        </ul>

        <form style="visibility:hidden" id="formChar" action="/os/index.php" method="POST">
            <input id="cId" name="id"/>
            <input id="cName" name="name"/>
            <input name="user" value="{{ app.user.username }}"/>
        </form>

{% endblock %}
